<div class="bg-white w-full h-full relative flex justify-center">
  <div class="mt-20">
    <div class="text-2xl font-semibold text-center text-red-500  uppercase mb-1">Tài khoản của bạn hiện tại đang bị khóa bởi quản trị viên</div>
    <div class="text-2xl font-semibold text-center text-red-500  uppercase">vui lòng liên hệ đến email edosedeliveryhub@gmail.com để yêu cầu mở khóa</div>
    <a class="flex justify-center rounded-md mt-10 px-5 py-2 border border-gray-400 text-xl bg-yellow-300 hover:font-semibold hover:text-green-500" routerLink="/home">Trở về trang chủ</a>
  </div>
</div>