<nz-layout class="bg-white w-full h-full" *ngIf="doanhNghiep">
  <div class="header w-full relative">
    <div class="flex items-center justify-center">
      <img src="../../../assets/images/logo-header.png" alt="Logo eDose" class="cursor-pointer w-1/6 md:w-1/12" routerLink="/home">
      <img src="../../../assets/images/name-header.png" alt="Company" class="cursor-pointer mt-auto w-1/6 md:w-1/12" routerLink="/home">
    </div>
    <div class="absolute bottom-0 right-0 md:bottom-2 md:right-14">
      <div class="text-right mb-0 md:mb-2 mr-6 md:mr-0">
        <a class="btn-1 transition duration-500 text-black ease-in-out box-border px-2 py-0 md:px-4 md:py-1 font-medium text-sm md:text-base rounded-md source-sans-pro hover:text-white hover:font-semibold" (click)="logOut()" title="Đăng xuất">ĐĂNG XUẤT</a>
      </div>
      <div>
        <a class="raleway font-medium text-base md:text-xl text-gray-700 hover:text-yellow-400 mr-2 md:mr-0" routerLink="/business/business-detail" title="Quản lý tài khoản"><i class="invisible opacity-0 md:visible md:opacity-100 mr-2" nz-icon nzType="edit" nzTheme="outline"></i>Quản lý tài khoản</a>
      </div>
    </div>
  </div>
  <nz-layout class="bg-white w-full">
      <nz-sider class="bg-white pl-0 lg:pl-6" nzWidth="300px" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <ul nz-menu class="menu" *ngIf="doanhNghiep.tinhTrang == 'Approval', else authentication">
          <li nz-menu-item [nzSelected]="this.isSelected('/register-package-service')" routerLink="/business/dashboard/register-package-service" title="Đăng ký gói dịch vụ">Đăng ký gói dịch vụ</li>
          <li nz-menu-item [nzSelected]="this.isSelected('/price-declaration-business')" routerLink="/business/dashboard/price-declaration-business" title="Cung cấp đơn giá vận chuyển">Cung cấp đơn giá vận chuyển</li>
          <li nz-menu-item [nzSelected]="this.isSelected('/order-process-business')" routerLink="/business/dashboard/order-process-business" title="Xử lý đơn hàng">Xử lý đơn hàng</li>
          <li nz-menu-item [nzSelected]="this.isSelected('/situation')" routerLink="/business/dashboard/situation" title="Theo dõi kinh doanh">Theo dõi kinh doanh</li>
          <li nz-menu-item [nzSelected]="this.isSelected('/reconcile-business')" routerLink="/business/dashboard/reconcile-business" title="Hạch toán/đối soát">Hạch toán/đối soát</li>
          <li nz-menu-item [nzSelected]="this.isSelected('/coupon-management')" routerLink="/business/dashboard/coupon-management" title="Quản lý khuyến mãi">Quản lý khuyến mãi</li>
        </ul>
        <ng-template #authentication>
          <ul nz-menu class="menu-waiting">
            <li nz-menu-item [nzSelected]="this.isSelected('/approval')" routerLink="/business/dashboard/approval">Xác thực doanh nghiệp</li>
          </ul>
        </ng-template>
      </nz-sider>
      <nz-layout class="bg-white">
        <nz-content class="relative bg-white">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
  </nz-layout>
</nz-layout>
