<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 w-full content-center mt-5">
  <div class="justify-self-center mb-5 lg:mb-0">
    <img class="mb-5" src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623326444/avatar-eatclean/a4ktkca8eiev23hv0m9p.png">
    <div class="ssp text-2xl font-medium mb-3">Thông tin liên hệ</div>
    <div class="flex items-baseline mb-3">
      <i class="mr-3" nz-icon nzType="environment" nzTheme="fill"></i>
      <div class="ssp text-base">Văn phòng: Tầng 4, phòng A4-404, số 1 Võ Văn Ngân, Thủ Đức, Hồ Chí Minh</div>
    </div>
    <div class="flex items-baseline mb-3">
      <i class="mr-3" nz-icon nzType="phone" nzTheme="fill"></i>
      <div class="text-base ssp">19001234</div>
    </div>
    <div class="flex items-baseline mb-3">
      <i class="mr-3" nz-icon nzType="mail" nzTheme="fill"></i>
      <div class="ssp text-base">eDoseDeliveryHub@gmail.com</div>
    </div>
  </div>
  <div class="justify-self-center mb-5 lg:mb-0">
    <div class="ssp text-2xl font-medium mb-3">Giới thiệu</div>
    <ul class="cursor-pointer">
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Giới thiệu eDose</li>
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Tin tức</li>
      <li class="ssp text-base transition duration-500 hover:text-blue-400">Tuyển dụng</li>
    </ul>
  </div>
  <div class="justify-self-center mb-5 lg:mb-0">
    <div class="ssp text-2xl font-medium mb-3">Hỗ trợ đối tác</div>
    <ul class="cursor-pointer">
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Điều khoản sử dụng</li>
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Chính sách bảo mật thông tin</li>
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Hướng dẫn sử dụng dịch vụ</li>
      <li class="ssp text-base mb-3 transition duration-500 hover:text-blue-400">Câu hỏi thường gặp</li>
      <li class="ssp text-base transition duration-500 hover:text-blue-400">Góp ý về dịch vụ</li>
    </ul>
  </div>
  <div class="justify-self-center">
    <div class="ssp text-2xl font-medium mb-3">Hỗ trợ</div>
    <img class="mb-8" src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623328744/avatar-eatclean/yizr6cbuwnuw0zjpim2l.png">
    <div class="ssp text-2xl font-medium">Kết nối</div>
    <div class="flex mb-8">
      <img class="mr-2" src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623328902/avatar-eatclean/sroxn8bdh5g9h4ffdcbi.png">
      <img src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623328902/avatar-eatclean/worw4isbg5hbgntgvadm.png">
    </div>
    <img src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623328755/avatar-eatclean/qndyenr7msxfqzo4ckoj.png">
  </div>
</div>
