<div class="container">
  <div class="text-black mt-4 text-3xl text-center md:text-left raleway">Các đơn hàng hiện tại</div>
  <div *ngIf="active; else notActive">
    <ng-container>
      <nz-spin class="absolute top-1/2 left-1/2" [nzSpinning]="active" nzSimple [nzSize]="'large'"></nz-spin>
    </ng-container>
  </div>

  <ng-template #notActive>
    <div class="tbl mt-8 ml-9 md:ml-20 w-11/12 md:w-3/4 pb-2">
      <nz-card class="border ml-auto my-4 rounded-lg px-5 py-3 transition duration-500 ease-in-out hover:shadow-xl">
        <div class="grid grid-cols-4 gap-4 items-center">
          <div>Tên đơn hàng</div>
          <div>Trạng thái</div>
          <div>Tên người dùng</div>
          <div>Chi tiết đơn hàng</div>
        </div>
      </nz-card>
      <div *ngIf="choose == 'Trả hàng'" class="animate__animated animate__fadeInUpBig">
        <ng-container *ngTemplateOutlet="TraHang"></ng-container>
      </div>
      <div *ngIf="choose == 'Hoàn tất đơn hàng'" class="animate__animated animate__fadeInUpBig">
        <ng-container *ngTemplateOutlet="HoanTatDonHang"></ng-container>
      </div>

      <ng-template #TraHang>
        <div *ngIf="listTraHang.length != 0; else noOrder">
          <div class="animate__animated animate__fadeInRight" *ngFor="let item of listTraHang | paginate: { itemsPerPage: 5, currentPage: pTraHang, id:'TraHang' }">
            <nz-card class="border ml-auto my-4 rounded-lg px-5 py-3 transition duration-500 ease-in-out hover:shadow-xl">
              <div class="grid grid-cols-4 gap-4 items-center">
                <div>{{ item.tenHangHoa }}</div>
                <div class="font-semibold">{{ item.donHang.trangThai }}</div>
                <div>{{ item.donHang.khachHang.tenDangNhap }}</div>
                <button (click)="showDetail(item)" class="border border-gray-400 px-5 py-1 rounded-xl bg-blue-100 transition duration-500 ease-in-out font-medium hover:bg-blue-400 hover:text-white">Xem chi tiết</button>
              </div>
            </nz-card>
          </div>
          <pagination-controls class="text-center" (pageChange)="pTraHang = $event" id="TraHang"
                              directionLinks="true"
                              autoHide="true"
                              responsive="true"
                              previousLabel="Trang trước"
                              nextLabel="Trang sau"></pagination-controls>
        </div>
      </ng-template>

      <ng-template #HoanTatDonHang>
        <div *ngIf="listHoanTatDonHang.length != 0; else noOrder">
          <div class="animate__animated animate__fadeInRight" *ngFor="let item of listHoanTatDonHang | paginate: { itemsPerPage: 5, currentPage: pHoanTatDonHang, id:'HoanTatDonHang' }">
            <nz-card class="border ml-auto my-4 rounded-lg px-5 py-3 transition duration-500 ease-in-out hover:shadow-xl">
              <div class="grid grid-cols-4 gap-4 items-center">
                <div>{{ item.tenHangHoa }}</div>
                <div class="font-semibold">{{ item.donHang.trangThai }}</div>
                <div>{{ item.donHang.khachHang.tenDangNhap }}</div>
                <button (click)="showDetail(item)" class="border border-gray-400 px-5 py-1 rounded-xl bg-blue-100 transition duration-500 ease-in-out font-medium hover:bg-blue-400 hover:text-white">Xem chi tiết</button>
              </div>
            </nz-card>
          </div>
          <pagination-controls class="text-center" (pageChange)="pHoanTatDonHang = $event" id="HoanTatDonHang"
                              directionLinks="true"
                              autoHide="true"
                              responsive="true"
                              previousLabel="Trang trước"
                              nextLabel="Trang sau"></pagination-controls>
        </div>
      </ng-template>

      <ng-template #noOrder>
        <nz-card class="border ml-auto my-4 rounded-lg px-5 py-3 transition duration-500 ease-in-out hover:shadow-xl">
          <div class="text-center font-medium text-lg uppercase mb-3">Không có đơn hàng ở trạng thái hiện tại</div>
          <div class="text-center">
            <img class="w-2/5" src="https://res.cloudinary.com/university-of-education-technology/image/upload/v1623007627/avatar-eatclean/ddyxcyfzmk8vy3kcp6qx.png" alt="NO DATA FOUND">
          </div>
        </nz-card>
      </ng-template>
    </div>

    <nz-modal [nzWidth]="750" [(nzVisible)]="isVisibleDetail" *ngIf="orderDetail" [nzFooter]="null" (nzOnCancel)="cancelDetail()" nzCentered>
      <div class="detail-container">
        <div class="detail-header">
          <div class="header-top">Chi tiết</div>
          <div class="header-bottom">
            <div class="txt-name">{{ orderDetail.tenHangHoa }}</div>
            <div class="txt-tr">Tình trạng:</div>
            <div class="txt-tr">Doanh nghiệp giao hàng <span class="lowercase font-semibold">{{ singleValue }}</span></div>
          </div>
        </div>
        <nz-divider></nz-divider>
        <div class="flex justify-between px-3 w-full">
          <div class="w-1/2">
            <div class="text-header">Mã đơn hàng</div>
            <div class="text-body">{{ orderDetail.donHang._id }}</div>
            <div class="text-header">Tên đơn hàng</div>
            <div class="text-body">{{ orderDetail.tenHangHoa }}</div>
            <div class="text-header">Giá trị hàng hóa</div>
            <div class="text-body">{{ orderDetail.giaTriGoiHang | currency:"VND" }}</div>
            <div class="text-header">Khối lượng hàng hóa</div>
            <div class="text-body">{{ orderDetail.khoiLuong }}g</div>
            <div class="text-header">Chiều dài hàng hóa</div>
            <div class="text-body">{{ orderDetail.chieuDai }}cm</div>
            <div class="text-header">Chiều cao hàng hóa</div>
            <div class="text-body">{{ orderDetail.chieuCao }}cm</div>
            <div class="text-header">Chiều rộng hàng hóa</div>
            <div class="text-body">{{ orderDetail.chieuRong }}cm</div>
            <div class="text-header">Ngày đặt hàng</div>
            <div class="text-body">Ngày {{ orderDetail.donHang.ngayDatHang | date:'dd/MM/yyyy'}}</div>
          </div>
          <div class="w-1/2">
            <div class="text-header text-green-400">Tổng tiền đã thanh toán</div>
            <div class="text-body text-green-400">{{ orderDetail.donHang.tongTien | currency:'VND' }}</div>
            <div class="text-header">Doanh nghiệp giao hàng</div>
            <div class="text-body font-semibold">{{ orderDetail.donHang.doanhNghiepGiaoHang.tenDN }}</div>
            <div class="text-header">Địa chỉ người gửi</div>
            <div class="text-body">{{ orderDetail.donHang.diaChiLayHang }}, Thành phố Hồ Chí Minh</div>
            <div class="text-header">Địa chỉ người nhận</div>
            <div class="text-body">{{ orderDetail.donHang.diaChiGiaoHang }}, Thành phố Hồ Chí Minh</div>
            <div class="text-header">Số điện thoại người đặt hàng</div>
            <div class="text-body">{{ orderDetail.donHang.soDT }}</div>
            <div class="text-header">Họ tên người đặt hàng</div>
            <div class="text-body">{{ orderDetail.donHang.khachHang.hoVaTen }}</div>
            <div class="text-header">Email người đặt hàng</div>
            <div class="text-body">{{ orderDetail.donHang.khachHang.email }}</div>
          </div>
        </div>
      </div>
    </nz-modal>

    <i title="Danh mục trạng thái đơn hàng" (clickOutside)="onClickedOutside($event)" nz-icon nzType="menu-unfold" nzTheme="outline" class="px-2 py-1 rounded-tl-lg rounded-bl-lg absolute transition duration-500 ease-in-out top-8 right-0 text-2xl cursor-pointer bg-gray-200 hover:bg-gray-600 hover:text-white" (click)="collapse = false"></i>
    <div class="invisible opacity-0 absolute top-2 right-0 menu-right border border-black px-5 py-4" [ngClass]="!collapse ? 'visible opacity-100' : 'invisible opacity-0'">
        <ul  nz-menu class="sider-menu">
          <li nz-menu-item [nzSelected]="singleValue === 'Hoàn tất đơn hàng'" (click)="clickToChange('Hoàn tất đơn hàng')">Hoàn tất đơn hàng
            <nz-badge [nzCount]="listHoanTatDonHang.length"></nz-badge>
          </li>
          <li nz-menu-item [nzSelected]="singleValue === 'Trả hàng'" (click)="clickToChange('Trả hàng')">Trả hàng
            <nz-badge [nzCount]="listTraHang.length"></nz-badge>
          </li>
        </ul>
    </div>
</ng-template>
