<div class="animate__animated animate__fadeInRight">
  <div class="header mb-5">
    <div class="gr">
      <img src="../../../assets/images/logo-header.png" alt="Logo eDose" class="cursor-pointer w-1/6 lg:w-1/6" routerLink="/home">
      <img src="../../../assets/images/name-header.png" alt="Company" class="mt-auto cursor-pointer w-1/6 lg:w-1/6"routerLink="/home">
    </div>
  </div>
  <div class="flex justify-center items-center w-full h-full mt-14">
    <div>
      <div class="text-xl uppercase mb-8 text-center text-green-400">Nhấn vào để quay lại trang chức năng</div>
      <div class="text-center mb-8 ">
        <i (click)="returnRole()" nz-icon nzType="check-circle" nzTheme="outline" class="text-7xl text-green-400 cursor-pointer transition duration-500 ease-in-out transform hover:-translate-y-2" ></i>
      </div>
      <div class="text-3xl uppercase text-green-500 text-center">Thanh toán đơn hàng thành công</div>
    </div>
  </div>
</div>
