.ok{
  background: linear-gradient(180deg, #43FFDD 0%, rgba(67, 255, 221, 0) 100%);
}
.deleteKM{
  background: #FFBABE;
}
.text-header{
  font-family: Raleway;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.text-body{
  font-family: Raleway;
  font-size: 17px;
  line-height: 28px;
  margin-left: 30px;
}
.bg.frm{
  background: rgba(254, 240, 255, 0.44);
  box-sizing: border-box;
}
input{
  border-radius: 12px;
}
